.noto-sans-kr-uniquifier {
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body {
    background-color: #000;
    color: #fff;
    font-family: "Noto Sans KR", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: 20px;
    left: 20px;
}

header img.godofmusic {
    width: 200px;
}

.scene-image {
    width: 884px;
    height: 423px;
    margin-bottom: 50px;
    margin-top: 150px;
}

.answer-box input[type="text"] {
    padding: 10px;
    font-size: 18px;
    width: 1000px;
    height: 45px;
    border-radius: 5px;
    font-family: "Noto Sans KR", serif;
    max-width: 100%;
}

.submit-button {
    padding: 10px 20px;
    font-size: 18px;
    font-family: "Noto Sans KR", serif;
    width: 270px;
    height: 70px;
    margin-top: 70px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}


.result-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-box p {
    font-size: 24px;
    font-family: "Noto Sans KR", serif;
    font-weight: bold;
}

.result-box button {
    font-size: 30px;
    width: 50px;
    margin-top: 20px;
    font-family: "Noto Sans KR", serif;
    cursor: pointer;
}

.hidden {
    display: none;
}

#result-text {
    font-weight: normal;    
}

#result-text {
    font-weight: normal;
}

.result-image {
    margin-top: 150px;
    width: 884px;
    height: auto; /* 비율 유지 */
    max-width: 100%;
    display: block;
}

.image-container {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 가로 가운데 정렬 */
}