<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>음악의 신</title>
    <link rel="stylesheet" href="/static/mvquiz.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Dongle&family=Noto+Sans+KR:wght@100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <img src="/static/godofmusic.png" alt="음악의 신" class="godofmusic">
    </header>
    <div class="image-container">
        <img id="scene-image" src="{{ scene['image'] }}" alt="뮤직비디오 장면" class="scene-image">
    </div>

    <div class="answer-box">
        <input type="text" id="answer-input" placeholder="노래 제목을 입력하세요">
    </div>
    <button class="submit-button" onclick="submitAnswer()">입력하기</button>

    <!-- 결과 화면 -->
    <div id="result-container" class="result-box hidden">
        <img id="result-image" src="" alt="정답 이미지" class="result-image">
        <p id="result-text"></p>
        <p id="song-title"></p>
        <button onclick="nextQuestion()">></button><!-- 화살표 버튼 -->
    </div>
    

    <script src="/static/mvquiz.js"></script>
</body>

</html>